:root{
    --text-color: #fefefe;
    --w-p-color: #E5E5E5;
    --text-hover: #d6d6d6;
    --bg-color: #06000C;


  --blue-color: #149ed4;
  --dark-blue-color: #000986;
  --green-color: #14d42a;
  --red-color: #ff0000;
  --white-color: #fefefe;
  --glass-color-01: rgba(255, 255, 255, 0.01);
  --glass-color-02: rgba(255, 255, 255, 0.02);
  --glass-color-03: rgba(255, 255, 255, 0.03);
  --glass-color-04: rgba(255, 255, 255, 0.04);
  --glass-color-05: rgba(255, 255, 255, 0.05);
  --glass-color-06: rgba(255, 255, 255, 0.06);
  --glass-color-07: rgba(255, 255, 255, 0.07);
  --glass-color-08: rgba(255, 255, 255, 0.08);
  --glass-color-09: rgba(255, 255, 255, 0.09);
  --glass-color-10: rgba(255, 255, 255, 0.1);
  --glass-color-15: rgba(255, 255, 255, 0.15);
  --radial-black: radial-gradient(
    closest-side,
    rgba(51, 51, 51, 1) 0%,
    rgba(35, 35, 35, 1) 100%
  );
  --black-boarder: 2px solid #464646;
  --insta-gradiant: linear-gradient(
    60deg,
    rgba(255, 0, 170, 1),
    rgba(255, 77, 64, 1),
    rgba(204, 79, 92, 1),
    rgba(115, 0, 255, 1)
  );
}


/* Scrollbar for WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox (works with scrollbar-color and scrollbar-width) */
* {
  scrollbar-color: #888 var(--bg-color);
  scrollbar-width: thin;
}
